<?xml version='1.0' encoding='utf-8'?>
<config version="1.0" name="italdes_bna">
    <italdes>
        <config value="12345679" name="serial"/>
        <config value="012345678" name="assistenza"/>
        <config value="03925500237" name="partitaIva"/>
    </italdes>
    <aziende>
        <config address="via XX settembre" cap="37100" comune="Verona" azienda="Marco punto vendita" codiceBanca="00000" name="12345679.1"/>
    </aziende>
    <knox>
        <config value="1" name="numberOfSignal"/>
        <config value="BNA-21" name="model"/>
        <config value="100000.00" name="insuranceStockLevel"/>
        <config value="98000.00" name="insuranceLevel"/>
        <config value="80000.00" name="insuranceWarnLevel"/>
        <config value="4000" name="quantityMaxLevel"/>
        <config value="3000" name="quantityLevel"/>
        <config value="50" name="quantityWarnLevel"/>
        <config value="100" name="cashDiff"/>
    </knox>
    <optional_functions>
        <config value="disabled" name="smartcard_identification"/>
        <config value="enabled" name="keypad_identification"/>
        <config value="disabled" name="safebag_request"/>
        <config value="disabled" name="safebag_cheque_request"/>
        <config value="disabled" name="safebag_multi_request"/>
        <config value="disabled" name="safebag_coin_request"/>
        <config value="disabled" name="auth_cit"/>
        <config value="disabled" name="upgrade"/>
        <config value="disabled" name="double_copy"/>
        <config value="disabled" name="rear_access"/>
    </optional_functions>
    <blacklist_cashboxes>
        <config value="11111111" name="cashbox"/>
        <config value="22222222" name="cashbox"/>
        <config value="33333333" name="cashbox"/>
        <config value="00000000" name="cashbox"/>
    </blacklist_cashboxes>
    <servers>
        <config value="http://192.168.12.11/guardian/public/api/log" name="events"/>
        <config value="http://192.168.12.11/guardian/public/api/transaction" name="finance"/>
        <config value="http://192.168.12.11/guardian/public/api/cashbox" name="cashboxes"/>
        <config value="http://192.168.12.11/guardian/public/api/config" name="setup"/>
        <config value="http://192.168.12.11/guardian/public/api/translation" name="translation"/>
        <config value="http://192.168.12.11/guardian/public/api/alive" name="alive"/>
        <config value="http://192.168.12.11/guardian/public/api/update" name="version"/>
        <config value="http://192.168.12.11/guardian/public/api/media" name="media"/>
        <config value="http://192.168.12.11/acceptor/" name="acceptor"/>
        <config value="http://192.168.12.11/radio/" name="radio"/>
        <config value="http://192.168.12.11/door/" name="door"/>
        <config value="http://192.168.12.11/guardian/public/multimedia/" name="mediadownloader"/>
        <config value="http://192.168.12.11/guardian/public/api/audit" name="audit"/>
        <config value="http://192.168.12.11/guardian/public/api/info" name="info"/>
        <config value="" name="finance-ext"/>
        <config port="" value="" name="proxy"/>
        <config value="https://prova.italdes.it/index.php" name="ws"/>
        <config value="https://ticket.mondialpol.it/api/create-ticket" name="ticket"/>
    </servers>
    <smartcards>
        <config idcustomer="12345679.1" codice="" azienda="ITALDES" ruolo="PRELIEVO" value="0000003308"/>
        <config idcustomer="12345679.1" codice="1234" azienda="ITALDES" ruolo="SUPERVISORE" value="0000005155"/>
        <config idcustomer="12345679.1" azienda="MANUTENZIONE" ruolo="ITALDES" value="0000099999"/>
    </smartcards>
    <pin_level1 scan="disabled" value="enabled" name="MARCO" auth="disabled">
        <config azienda="12345679.1" value="*"/>
    </pin_level1>
    <settings>
        <config value="it" name="language"/>
        <config value="0" name="mei_timeout"/>
        <config value="60" name="alive_timeout"/>
        <config value="M" name="mode"/>
        <config value="SC" name="customer_mode"/>
        <config value="5" name="reject_notes"/>
        <config value="100" name="audio"/>
    </settings>
    <safe_detail>
        <config value="1532679896" name="last_update_online"/>
        <config value="1532692911" name="last_update_request"/>
        <config value="666" name="random"/>
        <config value="2.0.1" name="current_version"/>
    </safe_detail>
    <devices>
        <device class="cicciobaliccio" port="" requirement="required" dbus_interface="" name="shutter_italdes" dbus_command=""/>
        <device class="cicciobaliccio" port="" requirement="required" dbus_interface="" name="acceptor_grgca10" dbus_command=""/>
        <device class="cicciobaliccio" port="/dev/ttyRFID" requirement="required" dbus_interface="" name="radio_italdes" dbus_command=""/>
        <device class="cicciobaliccio" port="/home/root/ttyPRINTER" requirement="required" dbus_interface="" name="custom_printer" dbus_command=""/>
    </devices>
    <starting_cashboxes>
        <config value="11111111" name="cashbox_1"/>
    </starting_cashboxes>
</config>
